html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.navigation {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.navigation--dark {
    background: #222;
}

.navigation__list {
    list-style: none;
    padding-left: 0px;
}

.navigation__item {
    margin: 5px;
}

.navigation__link {
    text-decoration: none;
}

.navigation--dark .navigation__link {
    color: #4e9ae8;
}

.navigation__link--buy.navigation__link--buy {
    color: crimson;
}