body {
    margin: 40px;
}

.flex {
    border: 10px solid black;
    width: 500px;
    display: flex;
    height: 300px;
}

.flex__item {
    margin: 10px;
    padding: 20px;
    background: teal;
    color: white;
    flex-basis: 33%;
}