.body {
    font-family: "Lato", sans-serif;
}

.listItem {
    margin: 5px 0;
    background: #eee;
}

.list {
    padding-left: 20px;
}

.orderedList {
    list-style-type: upper-roman;
}

.unorderedList {
    list-style: square inside;
}

.link {
    color: white;
    background-color: crimson;
    text-decoration: none;
    padding: 5px 10px;
}

.link:visited {
    background-color: darkred;
}

.link:focus {
    outline: 2px solid black;
}

.link:hover {
    background-color: red;
    outline: none;
}

.link:active {
    background-color: blue;
}