html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background: #eee;
    max-width: 700px;
    margin: 30px auto;
}

.element {
    color: white;
    margin: 20px auto;
    width: 600px;
    height: 300px;
    resize: both;
    overflow: auto;
    background-image: url("../images/Lija.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.container {
    text-indent: 20%;
    text-transform: uppercase;
}

.container__decoration {
    text-decoration-line: underline;
    text-decoration-color: teal;
    text-decoration-style: wavy;
}

.lija {
    width: calc(80% - 80px); 
    object-fit: cover;
    object-position: left;
}