html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background: #eee;
}

.element {
    color: white;
    margin: 20px auto;
    width: 600px;
    height: 300px;
    resize: both;
    overflow: auto;
    background-image: url("../images/Lija.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}