.element {
    margin: 30px;
    width: 500px;
    height: 200px;
    text-align: center;
    padding: 10px;
    outline-offset: 5px;
    box-shadow: 12px -12px 11px 7px #CCA3C0;
    border-radius: 30px;
    text-shadow: 1px 2px 5px #888;

    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
}

.bold {
    font-weight: bold;
}

.header {
    font-weight: normal;
}

.cos {
    font: bold italic 20px/1.6 "Lato", sans-serif;
}